{<<"app">>,<<"opentelemetry_cowboy">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"OpenTelemetry Cowboy Instrumentation">>}.
{<<"files">>,
 [<<"CHANGELOG.md">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"src">>,<<"src/opentelemetry_cowboy.app.src">>,
  <<"src/opentelemetry_cowboy.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"GitHub">>,
   <<"https://github.com/open-telemetry/opentelemetry-erlang-contrib/tree/main/instrumentation/opentelemetry_cowboy">>}]}.
{<<"name">>,<<"opentelemetry_cowboy">>}.
{<<"requirements">>,
 [{<<"cowboy_telemetry">>,
   [{<<"app">>,<<"cowboy_telemetry">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 0.4">>}]},
  {<<"opentelemetry_api">>,
   [{<<"app">>,<<"opentelemetry_api">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 1.2">>}]},
  {<<"opentelemetry_telemetry">>,
   [{<<"app">>,<<"opentelemetry_telemetry">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 1.0">>}]},
  {<<"telemetry">>,
   [{<<"app">>,<<"telemetry">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 1.0">>}]}]}.
{<<"version">>,<<"0.3.0">>}.
