[
  {opentelemetry, [
    {span_processor, batch},
    {traces_exporter, otlp},
    {resource, #{
      <<"service.name">> => <<"erlang-cowboy-app">>,
      <<"service.version">> => <<"1.0.0">>,
      <<"service.instance.id">> => <<"myapp-instance-1">>
    }}
  ]},
  
  {opentelemetry_exporter, [
    {otlp_protocol, http_protobuf},
    {otlp_endpoint, "http://localhost:4318/v1/traces"},
    {otlp_headers, [{"ngrok-skip-browser-warning", "true"}]},
    {otlp_compression, gzip}
  ]},
  
  % {kernel, [
  %   {logger_level, debug},
  %   {logger, [
  %     {handler, otel_handler, logger_std_h, #{
  %       level => debug,
  %       formatter => {logger_formatter, #{
  %         single_line => false,
  %         template => [time, " [", level, "] ", msg, "\n"]
  %       }}
  %     }}
  %   ]}
  % ]},
  
  {ssl, [
    {verify, verify_none}
  ]},
  
  {inets, [
    {services, [{httpc, []}]}
  ]}
].
