[
  {opentelemetry, [
    {span_processor, batch},
%    {traces_exporter, {otel_exporter_stdout, []}}, 
    {traces_exporter, {opentelemetry_exporter, #{
      otlp_protocol => http_protobuf,
      otlp_endpoint => "https://d695c52cdf4a.ngrok-free.app",
      otlp_compression => gzip
    }}},
    {resource, #{
      <<"service.name">> => <<"erlang-cowboy-app">>,
      <<"service.version">> => <<"1.0.0">>,
      <<"service.instance.id">> => <<"myapp-instance-1">>
    }}
  ]},

  
  {ssl, [
    {verify, verify_none}
  ]},
  
  {inets, [
    {services, [{httpc, [{profile, otel_exporter_otlp}, {verbose, true}]}]}
  ]}
].
